
@{
    ViewBag.Title = "RoleRegisterForm";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header text-center">
                    Datos del Rol
                </div>
                <div class="card-body">
                    <form>
                        <div class="form col-12 my-2 row">
                            <div class="col-lg-4 col-12 my-2">
                                <label for="nombre">Nombre del Rol</label>
                                <input class="form-control text-box single-line text-box single-line" name="username" placeholder="Ingrese nombre" type="text" value="">
                            </div>
                            <div class="col-lg-4 col-12 my-2">
                                <label for="nombre">Identificador</label>
                                <input class="form-control text-box single-line text-box single-line" name="password" placeholder="Ingrese contraseña" type="password" value="">
                            </div>
                            <div class="col-lg-4 col-12 my-2">
                                <label for="nombre">Descripción del Rol</label>
                                <input class="form-control text-box single-line text-box single-line" name="password" placeholder="Ingrese contraseña" type="password" value="">
                            </div>
                            <div class="col-12 mt-5">
                                <input type="submit" value="Registrar nuevo deudor" class="btn btn-block btn-rounded btn-outline-success">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


