
@{
    ViewBag.Title = "StudentRegisterForm";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header text-center">
                    Datos del Rol
                </div>
                <div class="card-body">
                    <form>
                        <div class="form col-12 my-2 row">
                            <div class="col-lg-4 col-12 my-2">
                                <label for="nombre">Nombre</label>
                                <input class="form-control text-box single-line text-box single-line" name="username" placeholder="Ingrese nombre" type="text" value="">
                            </div>
                            <div class="col-lg-4 col-12 my-2">
                                <label for="nombre">Apellidos</label>
                                <input class="form-control text-box single-line text-box single-line" name="password" placeholder="Ingrese apellidos" type="text" value="">
                            </div>
                            <div class="col-lg-4 col-12 my-2">
                                <label>Turno</label>
                                <select class="form-control text-box single-line" id="roles" name="roles" placeholder="Seleccione un turno">
                                    <option value="">Selecciona Turno</option>
                                </select>
                            </div>
                            <div class="col-lg-4 col-12 my-2">
                                <label>Grado</label>
                                <select class="form-control text-box single-line" id="roles" name="roles" placeholder="Seleccione un grado">
                                    <option value="">Selecciona Grado</option>
                                </select>
                            </div>
                            <div class="col-lg-4 col-12 my-2">
                                <label>Grupo</label>
                                <select class="form-control text-box single-line" id="roles" name="roles" placeholder="Seleccione un grupo">
                                    <option value="">Selecciona Grupo</option>
                                </select>
                            </div>
                            <div class="col-lg-4 col-12 my-2">
                                <label>Sexo</label>
                                <select class="form-control text-box single-line" id="roles" name="roles" placeholder="Seleccione un sexo">
                                    <option value="">Selecciona sexo</option>
                                </select>
                            </div>
                            <div class="col-12 mt-5">
                                <input type="submit" value="Registrar nuevo alumno" class="btn btn-block btn-rounded btn-outline-success">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

